id: 12
templatename: 'Not Found'
description: 'Page Not Found'
category: Error
locked: 1
properties: 'a:0:{}'

-----

<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <base href="">
  <title>[[*pagetitle]] mhs | robotics</title>
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
  <link href='http://fonts.googleapis.com/css?family=Share+Tech+Mono%7cCarme' rel='stylesheet' type='text/css'>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">	
  <link rel="stylesheet" href="assets/css/main.css">
  
</head>
<body>
<div id="container"> 
[[$MustangRobotNavbar]]
<div id="page">
[[*content]]	
</div>
</div>
</div>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.0-beta.4/angular.min.js"></script>
<script src="assets/js/404.js"></script>
</body>

</html>