id: 18
templatename: SignUp
description: 'The main page template'
category: Content
properties: 'a:0:{}'

-----

<!doctype html>
<html lang="en" ng-app="SignupForm">
<head>
  <meta charset="utf-8">
  <base href="[[++site_url]]" />
  <title>[[*pagetitle]] | [[++site_name]]</title>
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=3, user-scalable=no">
  <meta rel="prefetch" href="//beta.mhsrobotics.peoplepluscomputers.com/assets/images/background/back0.png" />
  [[$standard-css-bf]]
<body>
	<!-- Begin Container -->
  <div id="container-fluid">
     <div id="page">
	    <div id="page-content" ng-controller="Form">
		[[*content:typography]]
		</div>
		</div>
	  </div>
	<!--End Page Content-->
  [[$MustangRobotNavbar]]
 
  <!-- End Container -->
  [[$standard-css-af_js]]
  [[$standard-js]]

</body>
</html>