@font-face {
  font-family: 'Carme';
  font-style: normal;
  font-weight: 400;
  src: local('Carme Regular'), local('Carme'), url(http://fonts.gstatic.com/s/carme/v7/sK--wWW5U-jTcduXZtmv9A.woff2) format('woff2'), url(http://fonts.gstatic.com/s/carme/v7/Upg28fsDDYxCiFrWVodtfA.woff) format('woff');
}
@font-face {
  font-family: 'Share Tech Mono';
  font-style: normal;
  font-weight: 400;
  src: local('Share Tech Mono'), local('ShareTechMono-Regular'), url(http://fonts.gstatic.com/s/sharetechmono/v4/RQxK-3RA0Lnf3gnnnNrAsYdJ2JT0J65PSe7wdxAnx_I.woff2) format('woff2'), url(http://fonts.gstatic.com/s/sharetechmono/v4/RQxK-3RA0Lnf3gnnnNrAsUYuTAAIFFn5GTWtryCmBQ4.woff) format('woff');
}