id: 86
pagetitle: 'Sign Up'
longtitle: 'Join Mustang Robotics'
alias: sign-up
published: 1
introtext: ''
richtext: 0
template: 18
menuindex: 11
createdby: 1
createdon: 1441853643
publishedon: 1441853640
publishedby: 1
hidemenu: 1
uri: sign-up.html
properties: null
tvs: {  }

-----

<div id="signupForm" class="responsive-container" ng-hide="verifyPage || confirm" ng-submit="verifyDetails()">
    <form class="form-horizontal">
        <div class="form-group">
            <label for="inputStudentName" class="col-sm-2 control-label">Your Name</label>
            <div class="col-sm-10">
                <input ng-model="name" type="text" class="form-control" id="inputStudentName" placeholder="John Doe" value="{{name}}" required>
            </div>
        </div>
        <div class="form-group">
            <label for="studentEmail" class="col-sm-2 control-label">Your Email</label>
            <div class="col-sm-10">
                <input ng-model="studentEmail" type="email" class="form-control" id="studentEmail" placeholder="john.doe@gmail.com" value="{{studentEmail}}" required>
            </div>
        </div>
        <div class="form-group">
            <label for="parentName" class="col-sm-2 control-label">Parent's Name</label>
            <div class="col-sm-8">
                <input ng-model="parentName" type="text" class="form-control" id="parentName" placeholder="Mr. Doe" value="{{parentName}}" required>
            </div>

        </div>
        <div class="form-group">
            <label for="parentEmail" class="col-sm-2 control-label">Parent's Email</label>
            <div class="col-sm-10">
                <input ng-model="parentEmail" type="email" class="form-control" id="parentEmail" placeholder="mr.doe@acme.com" value="{{parentEmail}}" required>
            </div>
        </div>
        <div class="form-group">
            <div class="col-sm-offset-2 col-sm-10">
                <button type="submit" class="btn btn-primary">Sign Up</button>
            </div>
        </div>
    </form>
</div>

<div ng-show="isVerify()" id="verify">
    <dl>
        <dt>Name</dt>
        <dd>{{name}}</dd>
        <dt>Email</dt>
        <dd>{{studentEmail}}</dd>
        <dt>Parent's Name</dt>
        <dd>{{parentName}}</dd>
        <dt>Parent's Email</dt>
        <dd>{{parentEmail}}</dd>
    </dl>
    <button ng-click="goBack()" class="btn btn-default">Go back</button>
    <button ng-click="submitDetails()" type="submit" class="btn btn-primary">Submit</button>
</div>

<div ng-show="confirm" id="confirm">
    <h1>Submission Successful.</h1>
    <p class="lead">Please check for an email from us in 1-2 days.</p>
    <p> By the way, our Edmodo code is <code>XXXXXX</code>, so please join that.</p>
</div>